title = "Components Category"
url = "/components/category/:slug"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "components/category"
postPage = "components/product"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "components/category"
==
<?php
function onEnd()
{
    $this->page->title = $this['category']->name;
    }
?>
==
<div class="row">
    <div class="col-md-8">
        {% component 'blogPosts' %}
    </div>
    <div class="col-md-4">
        {% component 'blogCategories' %}
    </div>
</div>